.about-us-item {
    position: relative;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
    aspect-ratio: 1/1;
}

.name {
    position: relative;
    height: 10%;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    line-height: 10%;
    top: 2%;
    font-weight: bold;
}

.desc {
    position: relative;
    height: 88%;
    left: 6%;
    overflow-y: scroll;
    color: white;
}