#testimonial {
    position: relative;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
    width: 50%;
    overflow: hidden;
    text-align: center;
}

#testimonial-name {
    width: 100%;
    color: #f2f2f2;
    font-weight: bold;
}

#testimonial-desc {
    height: 88%;
    margin-top: 2%;
    color: white;
    height: fit-content;
}

.testimonial-buttons {
    width: 20%;
    height: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-button {
    position: relative;
    width: 50%;
    height: 100%;
}