.mission-statement-content {
  position: relative;
  margin-top: 50%;
  transform: translateY(-50%);
  width: 80%;
  left: 10%;
  text-align: center;
  height: fit-content;
  font-size: xx-large;
  color: white;
  font-weight: bold;
}